<div li-block="Title" {{ block.shopify_attributes }}>
                    
                    
                    <h2 li-object="product.title">{{ product.title }}</h2>
                    
                  
                </div> {% schema %} {
    "name": "Title",
    "settings": [],
    "presets": [
        {
            "name": "Title",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}